---
import { Picture } from '@astrojs/image/components';
import shakes1 from '../assets/plano-texas-shake-01.png';
import shakes2 from '../assets/plano-texas-shake-02.png';
import shakes3 from '../assets/plano-texas-shake-03.png';
import shakes4 from '../assets/plano-texas-shake-04.png';
import shakes5 from '../assets/plano-texas-shake-05.png';
---

<h3 class="uppercase mx-auto">Shakes</h3>
<div class="grid" style="--grid-min-item-size: 200px;">
  <div class="box flow prose" style="--spot-color: var(--gray200);">
    <Picture
      src={shakes1}
      widths={[400, 500, 727]}
      aspectRatio={727 / 1127}
      width={727}
      height={1127}
      class="object-contain h-48"
      alt="Dolly's Dream Milk Shake"
      quality={80}
      format="avif"
    />
    <h4 class="uppercase">The Dolly Llama</h4>
    <p>
      Ultimate Cookie Monster ice cream, whole milk, oreo crumbs, kinder bars,
      chocolate sauce and whipped cream.
    </p>
  </div>
  <div class="box flow prose" style="--spot-color: var(--gray200);">
    <Picture
      src={shakes2}
      widths={[400, 500, 719]}
      aspectRatio={719 / 1128}
      width={719}
      height={1128}
      class="object-contain h-48"
      alt="Cinna Lover Milk Shake"
      quality={80}
      format="avif"
    />
    <h4 class="uppercase">Cinnalover</h4>
    <p>
      Horchata ice cream, whole milk, speculoos, caramel sauce, cinnamon toast
      crunch and whipped cream.
    </p>
  </div>
  <div class="box flow prose" style="--spot-color: var(--gray200);">
    <Picture
      src={shakes3}
      widths={[400, 500, 674]}
      aspectRatio={674 / 1160}
      width={674}
      height={1160}
      class="object-contain h-48"
      alt="Peanut Butter Milk Shake"
      quality={80}
      format="avif"
    />
    <h4 class="uppercase">Peanut Butter</h4>
    <p>
      Vanilla ice cream, whole milk, circus animal cookies, mini reese's cups,
      peanut butter sauce and whipped cream.
    </p>
  </div>
  <div class="box flow prose" style="--spot-color: var(--gray200);">
    <Picture
      src={shakes4}
      widths={[400, 500, 667]}
      aspectRatio={667 / 1167}
      width={667}
      height={1167}
      class="object-contain h-48"
      alt="Coffee Snob Milk Shake"
      quality={80}
      format="avif"
    />
    <h4 class="uppercase">Coffee Snob</h4>
    <p>
      Coffee ice cream, whole milk, speculoos sauce, speculoos cookie crumbs,
      rainbow sprinkles and whipped cream.
    </p>
  </div>
  <div class="box flow prose" style="--spot-color: var(--gray200);">
    <Picture
      src={shakes5}
      widths={[400, 500, 668]}
      aspectRatio={668 / 1133}
      width={668}
      height={1133}
      class="object-contain h-48"
      alt="Snow Storm Milk Shake"
      quality={80}
      format="avif"
    />
    <h4 class="uppercase">Snow Storm</h4>
    <p>
      Vanilla ice cream, whole milk, oreo crumbs, chocolate sauce, coco
      sprinkles, oreo cookie and whipped cream.
    </p>
  </div>
</div>
