---
import '../css/reset.css';
import '../css/global.css';
import '../css/barlow.css';
import '../css/publicsans.css';
import '../css/variables.css';
import '../css/blocks/box.css';
import '../css/blocks/card.css';
import '../css/blocks/center.css';
import '../css/blocks/grid.css';
import '../css/blocks/prose.css';
import '../css/blocks/cluster.css';
import '../css/blocks/cover.css';
import '../css/blocks/reel.css';
import '../css/blocks/stack.css';
import '../css/blocks/switcher.css';
import '../css/utilities/content.css';
import '../css/utilities/flow.css';
import '../css/utilities/icon.css';
import '../css/utilities/region.css';
import '../css/utilities/wrapper.css';
import '../css/utility.css';
import '../css/exceptions.css';

interface Props {
  meta: {
    title?: string;
    description?: string;
    canonicalURL?: URL | string;
    image?: string;
  };
}

const { meta } = Astro.props;

const metaDescription = meta.description || 'The Dolly Llama - Plano Texas';
const ogImage = '/media/og-image.png';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={metaDescription} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="generator" content={Astro.generator} />
    <meta name="title" content={meta.title} />
    <title>{meta.title}</title>
    <!-- Open Graph -->
    <meta property="og:image" content={ogImage} />
    <meta property="og:image:alt" content={metaDescription} />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- Schema.org -->
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "IceCreamShop",
        "address": {
          "@type": "PostalAddress",
          "addressLocality": "Plano",
          "addressRegion": "TX",
          "postalCode": "75024",
          "streetAddress": "8400 Preston Rd #150"
        },
        "aggregateRating": {
          "@type": "AggregateRating",
          "ratingValue": "4.3",
          "reviewCount": "25"
        },
        "areaServed": [
          {
            "@type": "City",
            "name": "Plano",
            "sameAs": "https://en.wikipedia.org/wiki/Plano,_Texas"
          }
        ],
        "name": "The Dolly Llama Plano, TX",
        "logo": "https://bit.ly/the-dolly-llama-plano-logo",
        "openingHours": ["Su-Th 12:00-22:00", "Fr-Sa 12:00-24:00"],
        "priceRange": "$$",
        "keywords": "ice cream plano, ice cream plano texas, milkshakes plano, milkshakes plano texas",
        "description": "Ice Cream Plano | In Plano, there's a fantastic ice cream place called The Dolly Llama. It's like a magical land for ice cream lovers where you'll find both classic and creative ice cream options. But what's really special about The Dolly Llama is how it makes people happy. Kids get super excited, and older folks get to relive sweet memories with every bite. Here, ice cream is more than just a dessert. It's an experience, a feeling, and a sweet tradition that reminds us to enjoy the simple pleasures of life. In the heart of Plano, The Dolly Llama isn't just an ice cream shop; it's a place where you can create wonderful memories while enjoying delicious treats.",
        "servesCuisine": [
          "Premium Artisanal Ice Cream",
          "Ice Cream",
          "Milkshakes"
        ],
        "telephone": "(469) 287-2002",
        "url": "https://icecreamplano.com"
      }
    </script>
  </head>
  <body>
    <slot />
  </body>
</html>
